.orders-sidebar {
  padding: 24px;
  #orders-form {
    min-height: 119vh;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    // Orders Form Header
    .orders-form-header {
      .sidebar-title {
        font-size: 20px;
      }
      .service-type {
        margin-top: 24px;
        .service-type-btn {
          padding: 7px;
          margin-right: 8px;
          border: 1px solid #393C49;
          border-radius: 8px;
          transition: all 0.3s ease;

          &:hover, &.active {
            color: #fff;
            background: #EA7C69;
            border-color: #EA7C69;
          }
        }
      }
    }
    // Orders Form Main
    .orders-form-main {
      .orders-list-caption {
        display: flex;
        align-items: center;
        margin-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #393C49;
        .item, .qty, .price {
          font-size: 16px;
          font-weight: 600;
        }
        .qty {
          margin-left: auto;
          margin-right: 43px;
        }
      }
      .orders-list {
        height: 485px;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 0 !important;
          height: 0;
          display: none !important;
          background: transparent;
        }
      }
      .orders-footer {
        padding-top: 24px;
        border-top: 1px solid #393C49;
        .discount, .sub-total {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h4 {
            color: #abbbc2;
            font-weight: 400;
          }
          span {
            font-size: 16px;
            font-weight: 500;
          }
        }
        .discount {
          margin-bottom: 16px;
        }
      }
    }
    // Orders Form Footer
    .orders-form-footer {
      .payment-btn {
        width: 100%;
        padding: 14px;
        background: #EA7C69;
        box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
        border-radius: 8px;
        margin: 42px 0px 0;
      }
    }
  }
}