.settings-page {
  padding: 24px;
  .title {
    font-size: 28px;
    margin: 0 0 24px;
  }
  .site-main {
    min-height: 100vh;
    display: grid;
    gap: 24px;
    grid-template-columns: 275px auto;
    grid-template-rows: auto;
    .menu-holder {
      min-height: 100vh;
      background: #1F1D2B;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}